@import '../../../../../../constants.scss';

.scheduler {

  &__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 12px 0;

    .filter {
      height: 100%;
      margin-left: 30px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      &__clear {
        cursor: pointer;
        transition: $transition_default;
        border: $border;
        height: 40px;

        &:hover {
          opacity: .5;
        }
      }

      &__select {

        .MuiInputLabel-outlined.MuiInputLabel-shrink {
          background-color: $grey;
        }
      }
    }
  };
}