@import '../../constants.scss';

.card {
  display: flex;
  flex-direction: column;
  border-radius: $border_radius;
  cursor: pointer;
  transition: $transition_default;
  text-decoration: none;
  color: black;
  box-shadow: 0px 0px 0px rgba(63, 63, 68, 0.05), 0px 1px 2px rgba(63, 63, 68, 0.15);
  font-family: 'Montserrat', serif;

  &:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  &.disabled {
    cursor: default;

    &:hover {
      filter: none;
    }
  }
  
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: black;
    background-color: $grey_thin;
    box-shadow: inset 0px -1px 0px #EEEEEE;

    .status {
      border-radius: 50%;
      width: 20px;
      height: 20px;
      min-width: 20px;
      min-height: 20px;
    }
  }

  &__main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    span {
      margin-bottom: 10px;
    }
  }
}