@import '../../constants.scss';

.registrator {
  display: flex;

  &__navigation {
    width: $control_panel;

    &-item {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 20px;
      border-radius: 4px;
      background-color: transparent;
      cursor: pointer;
      transition: $transition_default;

      &:hover {
        opacity: .5;
      }

      &.selected {
        background-color: $grey_light;
      }

      img {
        margin-right: 15px;
      }
    }
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
  }

  .buttons-group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button-container {
      width: 260px;
    }

    .custom-button {
      @include form_text;
      font-size: 14px;
      line-height: 26px;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      border: 1px solid #C0C1C1;
      box-sizing: border-box;
      border-radius: 3px;
      text-decoration: none;
      color: $primary;
      text-transform: uppercase;
      transition: $transition_default;
      cursor: pointer;

      &:disabled {
        opacity: .5;
        cursor: default;
      }

      &:hover {
        opacity: .5;
      }

      img.left {
        margin-right: 10px
      }

      img.right {
        margin-left: 10px;
      }
    }
  }
}