@import '../../../../../../../../constants.scss';

.seller {
  padding-bottom: 50px;

  &__info {

    &-title {
      @include form_text;
      line-height: 26px;
      font-weight: bold;
      padding: 10px 15px;
      background-color: $red;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
      color: white;
      border-radius: $border_radius;
      margin-bottom: 35px;
    }
  }

  &__ban {
    margin-bottom: 25px;
    
    &-button {
      max-width: 270px;
      margin: 0 auto;
    }
  }

  &__signer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-select {
      max-width: 330px;
    }

    &-title {
      margin: 25px 0;
      position: relative;
      @include form_text;
      font-weight: bold;
      line-height: 20px;
      padding: 15px 0;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -25px;
        width: calc(100% + 50px);
        height: 2px;
        background: #FFFFFF;
        box-shadow: inset 0px -1px 0px #EEEEEE;
        border-radius: 4px 4px 0px 0px;
      }
    }
  }
}