@import '../../constants.scss';

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    padding: 50px 80px;
    outline: none;
    @include primary_title;
    color: white;
    border-radius: 4px;
    border-color: transparent;
    font-family:  "Montserrat", serif;
  }

  .modal-success {
    background-color: #1f787b;
  }

  .modal-failed {
    background-color: #F93154;
  }
}