@import "../../constants.scss";

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__authorization {
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-items: stretch;
    grid-gap: 25px;
    width: 100%;
    max-width: 1000px;

    @media screen and (max-width: 999px) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }

  &__carousel {
    position: relative;
    height: 100%;

    @media screen and (max-width: 999px) {
      display: none;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: $border_radius;
    background-color: $grey_light;
    padding: 65px 40px;
    box-sizing: border-box;

    & > div {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    & > img {
      max-width: 260px;
      width: 100%;
    }
  }

  &__forgot, &__update {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    width: 400px;
    background-color: $grey;
    border-radius: $border_radius;
    padding: 65px 40px;

    &-title {
      @include primary_title;
      text-transform: uppercase;
    }

    & > div {
      width: 100%;
    }

    .link {
      @include form_text;
      color: $grey_green;
    }
  }

  .MuiInputLabel-outlined.MuiInputLabel-shrink {
    background-color: $grey;
  }

  .link {
    @include form_text;
    color: $grey_green;
  }
}