@import "../../constants.scss";

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__authorization {
    height: 500px;
    display: flex;
  }

  &__carousel {
    position: relative;
    height: 100%;
    width: 630px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 450px;
    border-radius: $border_radius;
    background-color: $grey_light;
    margin-left: 24px;
    padding: 65px 40px;
    box-sizing: border-box;

    & > div {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  &__forgot, &__update {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    width: 400px;
    background-color: $grey;
    border-radius: $border_radius;
    padding: 65px 40px;

    &-title {
      @include primary_title;
      text-transform: uppercase;
    }

    & > div {
      width: 100%;
    }

    .link {
      @include form_text;
      color: $grey_green;
    }
  }

  .MuiInputLabel-outlined.MuiInputLabel-shrink {
    background-color: $grey;
  }

  .link {
    @include form_text;
    color: $grey_green;
  }
}