@import '../../constants.scss';

.add-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 56px;
  border: $border;
  border-radius: 5px;
  cursor: pointer;
  transition: $transition_default;

  &.disabled {
    opacity: .5;
    cursor: default;
  }

  &:hover {
    opacity: .5;
  }
}