@import '../../constants.scss';

.radio-buttons-group {
  width: 100%;
  display: flex;

  &__element {
    flex-grow: 1;

    &:first-child {
      margin-right: 6px;
    }

    &:last-child {
      margin-left: 6px;
    }

    &.edit {
      margin: 0;

      & > label {
        cursor: default;
      }
    }

    .input {
      display: none;

      &:checked + .label {
        background-color: $primary;
        color: white;
        cursor: default;

        &:hover {
          opacity: 1;
        }
      }
    }

    .label {
      @include form_text;
      border: $border_primary;
      border-radius: $border_radius;
      color: $primary;
      height: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: $transition_default;

      &:hover {
        opacity: .5;
      }
    }
  }
}