@import '../../../../../../constants';

.scheduler {
  min-height: 100vh;
  background-color: #FAFAFA;
  border-radius: $border_radius;
  box-shadow: inset 0px -1px 0px #EEEEEE;
  
  &__header {
    display: flex;
    height: 56px;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    border-bottom: $border;
    border-right: $border;
    
    & > div > table {
      width: 100%;
      border-collapse: collapse;

      tr {
        height: 100%;
      }

      td {
        text-align: center;
        height: 56px;
        @include primary_title;
      }
    }

    & > div:first-child {
      width: 10%;
    }

    & > div:nth-child(2) {
      width: 90%;
    }
  }

  &__dayBar {
    width: 10%;
  }

  &__body {
    display: flex;
  }

  &__appointments {
    width: 90%;
    position: relative;
  }

  &__bodyTable {

    table {
      border-collapse: collapse;
    }

    table, tr {
      width: 100%;
    }

    td {
      border-bottom: $border;
      border-right: $border;
      border-left: $border;
      height: 75px;
      box-sizing: border-box;
      transition: $transition_default;
      cursor: crosshair;

      &:hover {
        background-color: #eee;
      }
    }
  }
}