/node_modules
/public/hot
/public/storage
/public/icons
/public/js
/public/static
/public/Contract
/public/Zip
/public/images
/public/favicon.ico
/resources/views/*
/storage/*.key
/storage
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.docx
*.doc
front/package.json
