@import '../../../../constants.scss';

.scheduler {
  position: relative;

  &__container {
    position: relative;
    display: flex;
    background-color: $grey_light;
  }

  &__dataView {
    position: relative;
    width: 70%;
    padding: 0 30px 48px;
    box-sizing: border-box;
  }

  &__form {
    width: 30%;
    height: 100vh;
    position: sticky;
    overflow-y: scroll;
    right: 0;
    top: 0;
    background-color: white;
  }
}