@import '../../../../../../../../constants.scss'; 

.schedulerForm {

  &__forms {
    padding: 15px 55px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      @include primary_title;
    }

    img {
      width: 24px;
      height: 24px;
      cursor: pointer;
      transition: $transition_default;

      &:hover {
        opacity: .5;
      }
    }
  }

  &__editButton {
    background-color: white!important;
    color: $primary!important;
    border: $border_primary;
  }
}