button {
  border: none;
  outline: none;
}

body, p {
  margin: 0;
}

.mv12 {
  margin: 12px 0;
}

.mh6 {
  margin: 0 6px;
}

.df {
  display: flex;
}

.df-jc-sb {
  display: flex;
  justify-content: space-between;
}