@import '../constants.scss';

button {
  border: none;
  outline: none;
}

h2 {
  margin: 0;
}

body, p {
  margin: 0;
}

.container {
  box-sizing: border-box;
  padding: 0 30px;
  width: 100%;
}

.mv12 {
  margin: 12px 0;
}

.mh6 {
  margin: 0 6px;
}

.df {
  display: flex;
}

.df-jc-sb {
  display: flex;
  justify-content: space-between;
}

.navigation-button {

  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  transition: $transition_default;

  &:hover {
    opacity: .5;
  }

  &.selected {
    background-color: $grey_light;
  }

  img {
    margin-right: 15px;
  }
}