// sizes
$control_panel: 20%;
$content_panel: 80%; 

// Colors
$primary: #165153;
$grey_light: #E5E5E5;
$grey_thin: #FAFAFA;
$grey: #C0C1C1;
$grey_green: #546E7A;
$light_green: #E8F5E9;
$green: #04BC00;
$dark: #263238;

// Borders
$border: 1px solid #E5E5E5;
$border_primary: 1px solid $primary;
$border_hard: 2px solid black;

// Transitions
$transition_default: all .4s ease-in;

@mixin primary_title {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: $primary;
}

@mixin form_text {
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

@mixin filter_title {
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.83px;
  text-transform: uppercase;
  color: #546E7A;
}